# Environment Variables (DO NOT COMMIT)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencies
node_modules/

# Vercel & Build Artifacts
.vercel/
dist/
build/

# Logs
*.log
